<nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-md" role="navigation">
    <div class="container">
        <a class="navbar-brand py-3" href="./">
        <span>Tophat</span>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item"><a class="page-scroll nav-link pr-3" title="Bootstrap 4 themes collection" href="https://github.com/themesguide/top-hat" target="new">GitHub</a></li>
            </ul>
        </div>
    </div>
</nav>